<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FiRSSt</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
</head>
<body>
  <header id="topbar">
    <h1>FiRRSt</h1>
    <nav>
      <ul>
        <li><a href="#">Something</a></li>
        <li><a href="#">Something else</a></li>
      </ul>
    </nav>
  </header>

  <section id="sidebar">
    <ul>
      <li><a href="#">Something</a></li>
      <li><a href="#">Something else</a></li>
    </ul>
  </section>

  <section id="content">
    <p>soon</p>
  </section>
</body>
</html>
