<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FiRSSt</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
</head>
<body>
  <div class="top-bar">
    <div class="title-bar">
      <h1>FiRRSt</h1>
    </div>
    <div class="nav-bar">
      <ul>
        <li><a href="#">Something</a></li>
        <li><a href="#">Something else</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <p>soon</p>
  </div>
  <div class="bottom-bar">
    <p>footer</p>
  </div>
</body>
</html>
